/*Font*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,400;1,100;1,200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
	
/*General CSS - normalize file contains most of it */
	
* {
	box-sizing: border-box;
}  
	
/* Using rems - set up to be 10px = 1 rem*/

body {
	font-size: 62.5%;
	font-family: "Montserrat", Helvetica;
	font-weight: 200;
	color: #000500;
	background-color: #edeef2;
}

/*Text*/

h1 {
	font-size: 4rem;
	font-family: "Josefin Sans";
	color: #edeef2;
	padding: 0 0 0 20px;
}

h2 {
	font-size: 2rem;
	font-family: "Josefin Sans";
	text-align: center;
	padding: 30px 0 0 0;
	margin: 0;
}

h3 {
	font-size: 1.5rem;
	font-weight: 300;
}

h4 {
	font-size: 0.9rem;
	margin: 10px 20px;
	font-weight: 400;
}

h6 {
	font-size: 0.9rem;
	font-weight: 400;
	padding: 20px 0 0 0;
	margin: 0;
}

p {
	font-size: 1rem;
	text-align: center;
	margin: 0 20px;
	line-height: 1.2;
}

/*Nav Bar*/

nav {
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0;
	font-size: 1.2rem;
	background-image: linear-gradient(#ece6e5, #ffffff, #ece6e5);
	opacity: 0.9;
}

ul {
	display: flex;
	justify-content: center;
	padding: 0;
	margin-bottom: 5px;
}

li {
	list-style-type: none;
}

li a {
	padding: 12px 20px;
	text-decoration: none;
	color: #000500;
	border-right: 1px solid #A9A9A9;
	margin: 0;
}

.hidenavborderrh a {
	border-right: none;
}

.thirdnav a {
	border-left: 1px solid #A9A9A9;
}

li a:hover {
	text-shadow: 0 0 0.4px #000500;
	transition-delay: 0.08s;
}


.logo img {
	position: relative;
	width: 50px;
	height: 50px;
	background-image: center center;
	margin: -10px 20px 0 20px;
}

/* Spinner */

@keyframes spin {
  0%, 100% {
	  transform: rotate(none);
  }
  50% {
	  transform: rotate(180deg);
  }
 
}

.spinner {
	display: inline-block;
	width: 4rem;
	height: 4rem;
	background-color: #edeef2;
	color: #000500;
	margin: 2px;
	animation: spin 3s 2;
}

/*.nowrap {
	white-space: nowrap;
}
*/

/*Body Styling*/

.container {
	display: flex;
	height: 90vh;
	min-height: 850px;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: stretch;
	padding: 20px;
}

.intropage .container {
	height: 100vh;
	align-items: center;
	background-image: url(handshake.jpg);
	background-position: center top;
}

.projectbox {
	text-align: center;
	width: 30%;
	box-shadow: 0 5px 5px -5px #000500;
	background-color: #edeef2;
	overflow: hidden;
	margin: 10px;
	min-height: 350px;
	min-width: 0px;
}

.projectbox img {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	object-fit: cover;
	width: 100%;
	height: 200px;
  	background-color: #b0bfd5;
}

.projectinfo {
	height: 50%;
	flex-shrink: 0;
}

.aboutbox {
	text-align: center;
	width: 40%;	
}

.aboutbox img {
  	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 100%;
	height: 80vh;
	object-fit: cover;
    border-radius: 8px;
    padding:10px;
    border: 1px solid #CED3DC;
}

.aboutbox a {
	text-decoration: none;
	color: #000500;
}

.aboutbackground {
	background-image: url(AboutMeBG3.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.about p {
	margin: 20px 10px;
}

.container.aboutbackground {
	align-items: center;
}

.portfolio,
footer {
	background-color: #ece6e5;
}

.container.project {
	overflow: scroll;
	object-fit: cover;
	width: 100vw;
	height: auto;
}

footer {	
	text-align: center;
	padding: 10px;
	box-shadow: inset 0 0 10px #000500;
}

.social {
	margin: 10px;
}


/* Social Buttons */

/* Style all font awesome icons */
 
.fab {
 	padding: 10px;
  	font-size: 2.5rem;
  	text-align: center;
  	text-decoration: none;
	margin: 0 5px;
}


/* Add a hover effect */

.fa:hover {
 	 opacity: 0.7;
}


/* Set a specific color for each brand */

.fa-twitter {
	background: #55ACEE;
	color: #ffffff;
}

.fa-linkedin {
 	background: #007bb5;
  	color: #ffffff;
} 

.fa-github {
 	background: #24292e;
  	color: #ffffff;
} 

.fa-dev {
 	background: #000500;
  	color: #ffffff;
} 


/* Media Queries */

@media screen and (max-width: 900px) {	
	.aboutbox {
		width: 95%;
		height: auto;
	}
	
	.about .container,
	.portfolio .container {
		height: auto;
	}
	
	.container .projectbox {
		width: 95%;
		margin: 10px 10px;
	}
}

@media screen and (max-width: 650px) {	
	.intropage .container h1 {
		font-size: 4rem;
		padding: 10px;	
	}
	
	.project.container {
		width: 100vw;
	}
		
	
	.logo {
		display: none;
	}
	
	.thirdnav a {
		border-left: none;
	}
	
	li a {
		padding: 10px;
	}
	
	ul {
		margin-bottom: 18px;
	}
}

@media screen and (max-width: 475px) {	
	
	
	footer {
		box-shadow: none;
	}	
	
	.intropage .container {
		background-image: none;
	}
	
	h1 {
		font-size: 4rem;
		font-family: "Josefin Sans";
		color: #000500;
		padding: 0 0 0 20px;
	}
	
	nav li {
		font-size: 0.7rem;
	}
	
	.spinner {
		display: inline-block;
		width: 4rem;
		height: 4rem;
		background-color: #000500;
		color: #edeef2;
		margin: 2px;
		animation: spin 3s 2;
	}
}

